/*
* Base style
*/


html, body {
  font-family:  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-size: cover;
  background-image: url('../jpeg/lyveden.jpeg');
  background-position: center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  min-height: 100vh;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

.row {
  height: auto;
  width: auto;
  margin: 0 auto;
}

#disclaimer {
  font-size: 9px;
}

/*
* custom font import
*/
