/*
* Base style
*/


html, body {
  font-family:  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-size: cover;
  background-image: url('../jpeg/lyveden.jpeg');
  background-position: center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  min-height: 100vh;
  text-align: center;
}

.navbar, .navbar-inverse {
  background: rgba(0,0,0,0.4);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.justify-content-center {
  justify-content: center !important;
}

.headshot {
  border-radius: 50%;
  padding: 20px;
}

.trititles {
  font-size: 1.05rem;
  text-align: center;
}

.link_img {
  text-align: center;
  border-radius: 10%;
}

footer {
  position: absolute;
  bottom: 0;
}

.row {
  height: auto;
  width: auto;
  margin: 0 auto;
}

#disclaimer {
  font-size: 9px;
}

/*
* custom font import
*/
