 * {
   box-sizing: border-box;
 }

html, body {
  background-color: rgb(75,0,130);
  color: #fff;
  font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
canvas {
  background-color: rgb(50,205,50);
  width : 80vmin;
  border : 10px solid cornflowerblue;
}

.game_zone {
  margin: 0 auto;
  width: 80vmin;
}

button {
  color: rgb(0,0,0);
}
